*.pyc
*.db
migrations
.cache
.DS_Store
.Python
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/prettyunit.iml
.idea/vcs.xml
.idea/workspace.xml
bin/
include/
lib/
logs/
pip-selfcheck.json
prettysite/.DS_Store
pysqlite2-doc/
