{% from "result_details.html" import settings_disp %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} prettyunit {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/siimple.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
    <script>
    function popup_ver() {
        var popup = document.getElementById('myPopup');
        popup.classList.toggle('show');
        console.log('clicked');
    }
    </script>
</head>
<body>
<div class="content">
    {%  block nav %}
    <!-- Navbar -->
    <div class="nav">
        <!-- Logo -->
        <a href="{{ url_for('index') }}" class="nav-logo">{{ name }}</a>
        <!-- Items -->
        <a id="showSettings" class="nav-link">settings</a>
        <div class="popup" onclick="popup_ver()"> version
            <span class="popuptext" id="myPopup">{{ settings[0][1] }}</span>
        </div>
    </div>

    <!-- Settings Modal -->
    <div id="SettingsModal" class="modal">
        <div class="modal-content">
            <span class="close">×</span>
            {{ settings_disp( settings) }}
        </div>
    </div>
    {%  endblock %}

    {%  block projects %}
    {%  endblock %}

    {%  block description %}
    {%  endblock %}

    {%  block graphs %}
    {%  endblock %}


    {%  block results %}
    {%  endblock %}
    <!-- Footer -->
    <div class="footer" align="center">
        <!-- Footer text -->
        Built by <a href="https://drownedcoast.xyz/" target='_blank' >Drowned Coast</a>.
        Made using <a href="http://siimple.juanes.xyz/" target='_blank' >Siimple</a> and <a href="http://www.chartjs.org/" target='_blank' >chart.js</a>.
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById('SettingsModal');

// Get the button that opens the modal
var btn = document.getElementById("showSettings");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>
</html>