<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %} prettyunit {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/siimple.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
            <script>
function popup_ver() {
    var popup = document.getElementById('myPopup');
    popup.classList.toggle('show');
    console.log('clicked');
}
</script>
</head>
<body>
<div class="content">
    {%  block nav %}
    <!-- Navbar -->
    <div class="nav">
        <!-- Logo -->
        <a href="{{ url_for('index') }}" class="nav-logo">prettyunit.</a>
        <!-- Items -->
        <!--<a href="#" class="nav-link" id="tooltip"><span title="{{ config['VERSION'] }}">version</span></a>-->
        <a href="{{ url_for('settings') }}" class="nav-link">settings</a>
        <div class="popup" onclick="popup_ver()">version
            <span class="popuptext" id="myPopup">{{ config['VERSION'] }}</span>
        </div>


    </div>
    {%  endblock %}

    {%  block projects %}
    {%  endblock %}


    {%  block graphs %}
    {%  endblock %}


    {%  block results %}
    {%  endblock %}
    <!-- Footer -->
    <div class="footer" align="center">
        <!-- Footer text -->
        Built by <a href="https://drownedcoast.xyz/" target='_blank' >Drowned Coast</a>.
        Made using <a href="http://siimple.juanes.xyz/" target='_blank' >Siimple</a> and <a href="http://www.chartjs.org/" target='_blank' >chart.js</a>.
    </div>
</div>

</body>
</html>