<!--
Ascott 10-9
-->
{% extends "base.html" %}
{% from "result_details.html" import result_details, test_cases , test_suites, project_description%}

<!--Description-->
{% block description %}
{{ project_description( project_desc ) }}
{% endblock %}

<!--Graphs-->
{% block graphs %}
<div class="graph" id="graphs">
    <div class="grid grid-fluid">
        <div class="row">
            <div class="col-12">
                <h6>Timeline</h6>
                <div class="graphbox">
                    <canvas id="TimeLineGraph"></canvas>
                    <script>fitToContainer(document.getElementById('TimeLineGraph'));</script>
                    <script>
                            TimeLine({{ timeline }},{{ timeline_dates|tojson }});
                        </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block results %}
<div class="results" style="background-color: #09a0f6;">
    <div class="result-list">

        <table class="table table-striped">
            <thead><a class="btn btn-small" style="display:inline-block;" onclick="goBack()"><</a><h4 style="display:inline-block;">Test Suites</h4></thead>
            {{ test_suites( suitelist ) }}
        </table>
    </div>
    {% if testresults %}
    <div class="result-details">
        <h4>TestCase Details</h4>
        <table class="table">
            {{ result_details(testresults) }}
        </table>
    </div>
    {% else %}
    <div class="empty-results">
    </div>
    {% endif %}
</div>
{% endblock %}