.content {
    width: 100%;
    height: 100%;
}

.nav {
    display: block;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    background-color: #01579B;
    color: #ffffff;
}

.nav a:hover {
    text-decoration: none;
}

.nav-logo {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.8;
    font-size: 25px;
    margin-left: 20px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    margin-right: 20px;
    float: right;
    opacity: 0.8;
}

.footer {
    position: fixed;
    text-align: center;
    width: 100%;
    height:50px;
    bottom: 0;
    left:0;
    background-color: #f1f5fa;
    font-size: 15px;
}


.graph {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: #09a0f6;
}

.graph h6 {
    color: #ffffff;
    margin-bottom: 5px;
}

.graphbox {
    background-color: white;
    width: 95%;
    height: 150px;
    padding: 25px 0px 25px 0px;
    margin: 5px 25px 0px 5px;
    box-shadow: 4px 4px 2px #888888;
}

.results {
}

.result-list {
    float: left;
    width: 25%;
    height: 100%;
    display: block;
    margin-bottom: 200px;
    background-color: white;
}

.empty-results {
    background-color: #09a0f6;
    float: right;
    width:75%;
    min-height: 400px;
    height: 100%;
    display: block;
}


.result-list td:hover {
    background-color: #888888;
    color: #888888;
}

.result-details {
    float: left;
    width: 75%;
    height: 100%;
    display: block;
}

.result-details tr:hover {
    background-color: #EEEEEE;
    color: #888888;
}

tr.selected {
    background-color: #EEEEEE;
    color: #888888;
}

#tooltip {
    position: relative;
    display: inline-block;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #888888;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: 100%;
    left: 40%;
    position: absolute;
    z-index: 1;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    margin-right: 20px;
    float: right;
    opacity: 0.9;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #01579B;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 100;
    top: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 100;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #01579B transparent;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}



#project-selector {
    background-color: #c7dae9;
    width: 100%;
    height: 100%;
    position: absolute;
}

#project-header {
    text-align: center;
}

.btn-big {
    width: 400px;
}

#SuiteDetails {
    height: 90%;
    margin-bottom: 10px;
    font-size: 10px;
}



/* Settings Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.settings_edit {
    white-space: nowrap;
    width:400px;
    overflow: hidden;
    resize: none;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.refresh_keys_spinner {
    display: block;
}

key_checkbox {

}

.settings_name_column {
    width: 40%;
    !important;
}

.settings_value_column {
    width: 40%;
    !important;
}

#settings_table tr.selected {
    background_color: #ffffff;
}

/*
Graph Colors
Pass: 0c9b00 - 12,155,0
Fail: cc0027 - 204,0,39
Error: e5620c - 229,128,12
Skip: 09a0f6 - 9,160,246
*/